@keyframes off {
  from {
    transform: translateX(110px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes on {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(110px);
  }
}

@keyframes bulbBlink {
  1% {
    opacity: 0;
  }
  2% {
    opacity: 0.3;
  }
  5% {
    opacity: 0;
  }
  6% {
    opacity: 1;
    opacity: 0.3;
  }
  10% {
    opacity: 1;
  }
  100% {
  }
}

@keyframes bulbMove {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
